<!doctype html>
<html ng-app='wheresMyBusApp'>
  <head>
    <title>Where's My Bus?</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  </head>

  <body>
    <h1>Dude, where's my bus?</h1>
    <div id="userSelection" ng-controller="userCtrl">
      <ul class="userInputs">
        <li>
            <label class="userSelectLabel" for="selectBusRoute">Bus Route</label>
            <select name="selectBusRoute" class="selectElem" ng-model="selectedBusRoute" ng-options="busRoute for busRoute in getBusListOptions()">
              <option value="">Select Bus Route</option>
            </select>
        </li>
        <li>
            <label class="userSelectLabel" for="selectBusDirection">Bus Direction</label>
            <select name="selectBusDirection" class="selectElem" ng-model="selectedDirection">
              <option value="">Select Direction</option>
              <option value="All">All</option>
              <option value="N">North</option>
              <option value="S">South</option>
              <option value="W">West</option>
              <option value="E">East</option>
              <option value="I">Inbound</option>
              <option value="O">Outbound</option>
            </select>
        </li>
      </ul>
      <div id="searchDiv">
        <button type="button" id="searchButton" ng-click="searchBus()">Dude, find my bus!</button>
        <img ng-show="showLoading()" src="icons/loading.gif">
      </div>
      <div id="mapLegend">
        <span class="legendItem" id="closestItem">Closest Bus: </span>
        <span class="icon" id="iconClosestBus"></span>
        <span class="legendItem">Northbound: </span>
        <span class="icon" id="iconNorth"></span>
        <span class="legendItem">Southbound: </span>
        <span class="icon" id="iconSouth"></span>
        <span class="legendItem">Westbound: </span>
        <span class="icon" id="iconWest"></span>
        <span class="legendItem">Eastbound: </span>
        <span class="icon" id="iconEast"></span>
      </div>
    </div>
    <div id="mapCanvas" ng-controller="mapCtrl"></div>
    <div id="telemetry" ng-controller="telemetryCtrl">
      <p>{{warning}}</p>
      <p>Update Time: {{updateTime}}</p>
      <p>Bus Signage: {{signage}}</p>
      <p>Bus Speed: {{speed}}MPH</p>
      <p>Bus Position: {{position}}</p>
      <p>Bus Route: {{route}}</p>
      <p>Bus Direction: {{direction}}</p>
    </div>
  </body>

  <footer>
    <link rel="stylesheet" type="text/css" href="index.css">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="./lib/angular/angular.js"></script>
    <script src="./lib/angular-animate/angular-animate.js"></script>
    <script src="./lib/angular-cookies/angular-cookies.js"></script>
    <script src="./lib/angular-resource/angular-resource.js"></script>
    <script src="./lib/angular-touch/angular-touch.js"></script>
    <script src="./lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="./lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="services/services.js"></script>
    <script src="userInput/user.js"></script>
    <script src="busTelemetry/busTelemetry.js"></script>
    <script src="map/map.js"></script>
    <script src="app.js"></script>
  </footer>
</html>
